* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #3f3f3f;
}

a {
    text-decoration: none;
    color: royalblue;
}

h1 {
    margin-left: 40px;
}

h2{
    margin-left: 40px;
}

h3 {
    margin-left: 20px;
    margin-top: 30px;
}

header .burguer {
    display: none;
    padding: 40px;
    font-size: 34px;
}

p.espaciado {
    padding: 20px;
    line-height: 2em;
}

p.arriba {
    margin-top: 20px;
}

.col1 p {
    text-align: justify;
    padding: 10px;
}

.col1 p.grande {
    text-align: left;
    padding: 10px;
}

ul li {
    margin-left: 40px;
    padding: 10px;
}

/* Colores del WebSite */
.azul {
    color: royalblue;
}

.naranja {
    color: #CC6600;
}

.blanco {
    color: white;
}

.gold {
    color: goldenrod;
}

.justify {
    line-height: 1.5em;
    text-align: justify;
    font-size: 16px;
}

.separador {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: royalblue;
    height: 20px;
    width: 100%;
}

hr {
    border: 0; 
    height: 2px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(to left, #fff, royalblue, #fff);
} 

input[type="text"]{
    font-size: 16px;
}

/* td {
    box-shadow: 2px 2px 4px #3F3F3F;
    padding: 5px;
} */

/* Animaciones */
@keyframes intermitente {
    50% {color: #CC6600}
    100% {color: royalblue}
}

/* Cabecera con logo y barra navegacion */
header {
    background-color: rgba(255, 255, 255, 0.322);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px gray;
    height: 140px;
    width: 100%;
    padding: 10px;
    transition: all 1000ms;
}

.normal {
    box-shadow: 0 4px 4px #3F3F3F;
    position: initial;
}

.contraste {
    box-shadow: 0 4px 4px #3F3F3F;
    background-color:rgba(204, 102, 0, 0.911); 
    z-index: 5;
}

.margen-superior {
    margin-top: 110px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 30px;
}

header nav ul li a{
    text-decoration: none;
    font-size: 26px;
    color: royalblue;
}

header nav ul li a:hover{
    color: #CC6600;
}

header.contraste nav ul li a:hover{
    color: rgb(52, 95, 224);
}

/* Menu Hamburguesa - 10 */
.menu-plegable {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: calc(100vh - 100px);
    background-color: beige;
    display: none;
    z-index: 21;
    margin-top: 140px;
}

.menu-plegable div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-plegable div.linea {
    /* width: 100%; */
    display: inline;
    white-space: nowrap;
    padding: 10px;
    margin-top: 20px;
    color: #CC6600;
}

.menu-plegable div p{
    font-size: 16px;
    text-align: center;
    width: 100%;
    background-color: #CC6600;
    color: white;
    white-space: nowrap;
}

.menu-plegable div a{
    color: #CC6600;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
}

.menu-plegable div.linea:hover{
    background-color: rgba(204, 102, 0, 0.514);

}
/* Seccion Hero */
.hero {
    height: 100vh;
    background-image: url('../img/hero2.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    /* Formato del texto del hero */
    color: #CC6600;
    text-shadow: 2px 2px 1px black;
}

.hero h2{
    margin-bottom: 240px;
}

.hero a{
    color: royalblue;
    font-size: 40px;
    margin-bottom: 50px;
    animation-name: intermitente;
    animation-duration: 1700ms;
    animation-iteration-count: infinite;
}

.fila {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#primera h1 {
    margin-bottom: 20px;
}

.col1 {
    padding: 10px;
    flex-basis: 400px;
    flex-grow: 1;
}

.col2 {
    padding: 10px;
    flex-basis: 400px;
    flex-grow: 2;
}

.col3 {
    padding: 10px;
    flex-basis: 400px;
    flex-grow: 3;
}

.col100 {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.imagen {
    max-width: 100%;
    width: 400px;
    height: 300px;
    /* border: 4px solid royalblue; */
}

.links {
    width: 100%;
    position: relative;
    left: -100%;
    transition: all 2000ms ease;
    /* opacity: 0; */
    visibility: hidden;
    z-index: 0;
    
}

.links.visible {
    visibility: visible;
    /* opacity: 1; */
}

.boton {
    width: 400px;
    margin: 30px;
    padding: 15px;
    color: beige;
    font-size: 22px;
    text-align: center;
    background-color: royalblue;
}

.boton:hover {
    background-color: #CC6600;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columna-menu {
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Seccion con imagen de fondo */
.fondo {
    padding: 40px 40px 160px 40px;
    background-image: url('../img/slogan.jpg');
    background-position: center;
    background-size: cover;
}

.slogan {
    font-size: 36px;
    text-align: left;
    color: beige;
    text-shadow: 4px 4px 2px black;
}

/* Seccion newsletter */
/* -------------------------------------------------------------------------------------------------------------------------- */

.newsletter {
    color: royalblue;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.inputTexto {
    color: royalblue;
    font-size: 20px;
    padding: 10px;
    margin: 10px 20px;
    border: 4px solid royalblue;
}

.submit {
    margin: 40px;
    padding: 10px;
    color: beige;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px 20px;
    background-color: royalblue;
    border: 4px solid royalblue;
}

.submit:hover {
    cursor: pointer;
    background-color: #CC6600;
    border: 4px solid #CC6600;
    
}

.inputTexto:focus, .submit:focus {
    outline: none;
}

.ultima {
    margin-bottom: 20px;
}

/* Seccion Footer */
footer {
    color: beige;
    display: flex;
    flex-wrap: wrap;
    background: rgb(73,155,234); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 6%, rgba(65,105,225,1) 68%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 6%,rgba(65,105,225,1) 68%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 6%,rgba(65,105,225,1) 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#4169e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-position: center;
    position: relative;
    
}

footer p{
    font-size: 14px;
    line-height: 1.8em;
}

footer a{
    color: beige;
    margin-right: 10px;
    font-size: 18px;
}

footer a:hover {
    color: #CC6600;
}

.izda {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dcha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dcha .rrss a{
    font-size: 40px;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor grid */
.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px); 
    grid-template-rows: repeat(2, 400px);
    grid-gap: 40px;
    justify-content: center;

}

/* Breadcrumbs */
.bread {
    padding: 20px;
}

/* Estilo de la tarjeta */
.card {
    width: 300px;
    height: 400px;
    box-shadow: 2px 2px 4px grey;
}

.foto {
    width: 300px;
    height: 200px;
    overflow: hidden;

}

.foto img {
    height: 200px;
}

.top {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: royalblue;
    color: beige;
    padding: 10px;
    /* border-radius: 10px; */
    text-decoration: none;
    
}

.btn:hover {
    background-color: #CC6600;
}

.datos {
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.direccion {
    width: 400px;
}

.direccion p:first-child{
    color: cornflowerblue;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
}

/* Barra de paginación */
.paginacion {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.paginacion button {
    background-color: royalblue;
    color: white;
    border: none;
    padding: 10px;
    font-size: 22px;
    border-radius: 2px;
}

.paginacion button:hover {
    background-color: #CC6600;
}

.paginacion button a{
    color: beige;
}


.pagina {
    background-color: beige;
    color: rgba(50, 50, 182, 0.589);
    border: 1px solid rgba(50, 50, 182, 0.589);
}

.paginacion .actual {
    border: 1px solid rgba(50, 50, 182, 0.589);
    background-color: white;
    pointer-events: none;
}

.paginacion .actual a{
    color: royalblue;
}

/* Estilos detalle compra */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: -1;
    transition: all 500ms ease;
    opacity: 0;

}

.overlay.visible {
    display: initial;
    opacity: 1;
    z-index: 20;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 21;
    transition: all 500ms ease;
}

.modal.visible {
    visibility: visible;
    opacity: 1;
}

.detalle {
    display: flex;
    flex-wrap: wrap;
    
}

.contenedor .fila {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid rgba(50, 50, 182, 0.589); */
}


.contenedor .fila p{
    text-align: justify;
    /* border: 1px solid rgba(50, 50, 182, 0.589); */
}

.marcado {
    margin-top: 24px;
    margin-right: 20px;
    font-size: 26px;
    float: right;
    
}

/* Estilo rejilla fotos/detalle */
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 600px); 
    grid-template-rows: repeat(2, 400px);
    grid-gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.card2 {
    width: 600px;
    height: 400px;
    box-shadow: 2px 2px 4px grey;
}

.imagen2 {
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.imagen2 img {
    width: 600px;
    height: 400px;
} 

.flexExtras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexExtremos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    font-size: 16px;
    margin-left: 54px;
}

.tabla {
    display: flex;
    justify-content: center;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 80%;
}

td p {
    font-size: 14px;
    padding: 20px;
}

.tabla2 {
    display: none;
}
fieldset {
    margin: 20px;
}

/* Estilos de formulario */
.formularioAzul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(73,155,234); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 6%, rgba(65,105,225,1) 68%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 6%,rgba(65,105,225,1) 68%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 6%,rgba(65,105,225,1) 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#4169e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 20px;
    margin-bottom: 30px;
}

.formularioBlanco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;

}

form {
    background-color: white;
    width: 70%;
    padding: 10px;
    box-shadow: 4px 4px 16px #3f3f3fab;
}

input[type="text"]{
    outline: none;
}

::-webkit-input-placeholder{
    color: royalblue;
}

.col33 {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 10px;
}

.col50 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.col66 {
    display: flex;
    flex-direction: column;
    width: 66%;
    padding: 10px;
}

form .fila{
    padding: 5px;
    
}

.end {
    display: flex;
    justify-content: flex-end;
}

.formulario {
    /* border: 1px solid black; */
    box-shadow: 2px 2px 4px #3F3F3F;
    padding: 30px;
}

iframe {
    max-width: 100%;
}

/* @MEDIA */
/* ------------------------------------------------------------------------------------------------------------------ */
@media (min-width : 1440px) {
    .hero {
        /* efecto parallax */
        background-attachment: fixed;
    }

}

@media (max-width : 1320px){

    header nav ul li {
        padding: 20px;
    }

    header nav ul li a{
        font-size: 20px;
    }

    /* Estilo rejilla fotos/detalle */
    .grid2 {
        grid-template-columns: repeat(2, 500px); 
        grid-template-rows: repeat(2, 300px);
        grid-gap: 40px;
        max-width: 100%;
    }

    .card2 {
        width: 500px;
        height: 300px;
        box-shadow: 2px 2px 4px grey;
    }

    .imagen2 {
        width: 500px;
        height: 300px;
        overflow: hidden;
    }

    .imagen2 img {
        width: 500px;
        height: 300px;
    } 
}

@media (max-width: 1200px){
    /* Estilo rejilla fotos/detalle */
    .grid2 {
        grid-template-columns: repeat(1, 500px); 
        grid-template-rows: repeat(2, 300px);
        grid-gap: 60px;
    }

    .card2 {
        width: 500px;
        height: 300px;
        box-shadow: 2px 2px 4px grey;
    }

    .imagen2 {
        width: 500px;
        height: 300px;
        overflow: hidden;
    }

    .imagen2 img {
        width: 500px;
        height: 300px;
    } 
}

@media (max-width : 1070px) {

    header nav ul li {
        padding: 10px;
    }

    header nav ul li a{
        font-size: 18px;
    }

    header img {
        width: 280px;
    }

}

@media (max-width : 900px) {
    /* Se cambia la disposicion del GRID de detalles para que solo tenga 1 columna */
    .grid2{
        grid-template-columns: repeat(1, 400px); 
      }

      form .fila {
          flex-direction: column;
      }

      .col33, .col50, .col66 {
        width: 100%;
    }

    .tabla {
        display: none;
    }

    .tabla2 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

}

@media (max-width: 800px){

    h1{
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    ul li {
        font-size: 16px;
    }

    nav {display: none;}

    header .burguer {
        cursor: pointer;
        display: initial;
    }

    header img {
        width: 250px;
    }

    footer .izda, footer .centro, footer .dcha {
        flex-basis: 300px;
    }

    /* Redimensionar las imagenes y botones de la zona links */
    .imagen {
        width: 400px;
        height: 300px;
    }

    .boton {
        width: 400px;
    }
    
    .separada {
        margin-top: 30px;
    }

    /* Redimensionar tamaño del grid */
    .grid2 {
        grid-template-columns: repeat(1, 350px); 
        grid-template-rows: repeat(2, 250px);
        grid-gap: 60px;
    }

    .card2 {
        width: 350px;
        height: 250px;
        box-shadow: 2px 2px 4px grey;
    }

    .imagen2 {
        width: 350px;
        height: 250px;
        overflow: hidden;
    }

    .imagen2 img {
        width: 350px;
        height: 250px;
    } 
    
}

@media (max-width: 640px){

    /* Se cambia el tamaño del encabezado del hero */
    .hero h1{
        font-size: 36px;
    }
    
    .hero h2{
        font-size: 30px;
    }

    /* Se disminuye el boton de submit */
    .submit {
        margin: 20px;
        padding: 12px;
        font-size: 16px;
        border-radius: 0;
        width: 100%;
    }

    /* Se disminuye el tamaño del input-text */
    .inputTexto {
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }

    .ultima{
        display: flex;
        flex-direction: column;
        
    }
    
    /* Se baja un poco el texto del footer para que no colapse con el boton */
    .grande {
        margin-top: 10px;
    }

    /* Tamaño de la botonera de paginacion */
    .paginacion button {
        padding: 5px;
        font-size: 16px;
    }

    col1 {
        flex-basis: initial;
    }
    
}

@media (max-width: 540px){
    .fila div img {
        width: 300px;
        height: 250px;
    }

    .boton {
        width: 300px;
    }

    header img {
        width: 200px;
    }

    /* Tamaño del mapa */
    iframe{
        width: 100%;
    }

    /* Tamaño formulario */
    form {
        width: 90%;
    }

    .bread {
        font-size: 14px;
    }
}

@media (max-width: 450px){

    header {
        height: 100px;
    }

    .menu-plegable {
        margin-top: 100px;
        width: 100%;
    }

    /* Se disminuye el tamaño de letra general de la web */
    body {
        font-size: 18px;
    }

    .espaciado {
        font-size: 16px;
    }

    h1{
        font-size: 24px;
    }

    h3{
        font-size: 20px;
    }
     /* Se cambia el tamaño del encabezado del hero */
    .hero h1{
        font-size: 26px;
    }
    
    .hero h2{
        font-size: 20px;
    }

    /* Se reduce el padding de las filas */
    .fila {
        padding: 20px 10px;
    }

    .fila a {
        font-size: 12px;
    }

    .fila div img {
        width: 250px;
        height: 200px;
    }

    .boton {
        width: 250px;
    }

    .slogan {
        font-size: 24px;
    }

    .col100 .newsletter {
        padding: 5px;   
        font-size: 20px;
        text-align: center;
    }

    .inputTexto, .submit {
        font-size: 16px;
        padding: 10px;
        margin: 5px 5px 20px 5px;
    }

    /* Tamaño imagen grid */
    .grid2 {
        grid-template-rows: repeat(1, 200px); 
        grid-template-columns: repeat(1, 300px);
    
    }

    .card2 {
        height: 200px;
        width: 300px;
    }

    .imagen2 {
        height: 200px;
        width: 300px;
    }
    
    .imagen2 img {
        height: 200px;
        width: 300px;
    } 

    
    
}

@media (max-width: 350px){
    header img {
        width: 150px;
        
    }

    .fila div img {
        width: 220px;
        height: 170px;
    }

    .boton {
        width: 220px;
    }

    .centro a{
        font-size: 12px;
    }

    .imagen2 {
        height: 200px;
    }
    
    .imagen2 img {
        height: 200px;
    } 

     /* Redimensionar tamaño del grid */
     .grid2 {
        grid-template-columns: repeat(1, 250px); 
        grid-template-rows: repeat(2, 150px);
        grid-gap: 60px;
    }

    .card2 {
        width: 250px;
        height: 150px;
        box-shadow: 2px 2px 4px grey;
    }

    .imagen2 {
        width: 250px;
        height: 150px;
        overflow: hidden;
    }

    .imagen2 img {
        width: 250px;
        height: 150px;
    } 
}